:root {
    --main-yColor: #f7b602;
    --main-textColor: #425466;
    --main-titleColor: #1a1b2f;
    --silver-backgroundColor: #f6f9fc;
    --blackBlue-backgroundColor: #1a1b2f;
    --second-yColor: #d39b02;
    --white-backgroundColor: #fff;
        /* --mobile-- */
        --fontTitleMobile: 40px;
        --fontTextMobile: 16px;

}



/* --------------------------------------------------- Nosotros --------------------------------------------------- */





/* --------------------------------------------------- Servicios --------------------------------------------------- */

/* ------------------------------ Inicio de CSS Servicio Mobile ------------------------------ */

/* ----- Inicio banner secundario Servicios : mobile ----- */

.imgBannersSec__Serv {
    background-image: url(../assets/3_servicios/Banner-Secundario-Mobile--serv.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* ----- Fin banner secundario Servicios : mobile ----- */

/* ----- Inicio info Servicios : mobile ----- */

.info__servicios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 0px 30px;
    margin: 40px 0px;
}

.info__servicios h2, .info__servicios h3 {
    color: var(--main-titleColor);
}

.info__servicios p {
    color: var(--main-textColor);
    line-height: 26px;
}

/* ----- Fin info Servicios : mobile ----- */

.grad-plans {
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, #dfab20, #ffbc00);
    height: 200px;
}

/* ----- Inicio Planes Servicios : mobile ----- */

#planes-servicios {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;

}

.grad-plans {
    display: flex;
    flex-direction: column;
    background-color: var(--white-backgroundColor);
    height: 200px;
}

.serv-1 {
    grid-area: s1;
}

.serv-2 {
    grid-area: s2;
}

.serv-3 {
    grid-area: s3;
    width: 0.7fr;
    height: 250px;
}

.serv-4 {
    grid-area: s4;
}

.serv-5 {
    grid-area: s5;
}

.serv-contenedor {
    display: grid;
    grid-template-areas:
    "s3 s3"
    "s1 s2"
    "s4 s5";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.4fr 1fr 1fr;
    justify-items: center;
    position: relative;
    top: -100px;
}

.serv-contenedor{
    width: 100%;
    text-align: center;
}

.servPlans{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-backgroundColor);
    width: 0.4fr;
    height: 250px;
    margin: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.23); 
        box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.23);
    transition: all 0.7s;
}

.servPlans:hover {
    transform: scale(110%);
}

.servContenedorPri {
    width: 250px;
    height: 275px;
}

.servContenedorSec {
    width: 150px;
    height: 200px;
}

.button-ppd{
    padding: 10px 25px 10px 25px;
    margin-top: 10px;
    font-size: 12px;
    border: 1px solid #f7b602;
    background-color: #ffffff;
    border-radius: 30px;
    text-align: left;
    transition: all 0.5s;

}

.button-ppd:hover{
    background-color: #f7b602;
    color: #ffffff;
}

/* ----- Fin Planes Servicios : mobile ----- */

/* ----- Inicio banner talleres : mobile ----- */

.bannerTalleres {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.bannerTalleresTexts{
    padding: 0px 30px;
}

.button-ppc{
    padding: 10px 25px 10px 25px;
    font-size: 14px;
    background-color: var(--main-yColor);
    border: none;
    border-radius: 30px;
    text-align: left;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.5s;

}

.button-ppc:hover{
    background-color: var(--second-yColor);
    color: #ffffff;
}

.bannerTalleresImg {
    background-image: url(../assets/3_servicios/Banner-talleres-Mobile.jpg);
    background-size: cover;
    background-position: left;
    display: flex;
}

/* ----- Fin banner talleres : mobile ----- */

/* ------------------------------ Fin de CSS Mobile Servicios ------------------------------ */

/* ------------------------------ Inicio de CSS Servicios Tablet Peq ------------------------------ */

@media screen and (min-width: 600px) {

    /* ----- Inicio Info Servicios : Tablet Peq ----- */
    
    .info__servicios{
        padding: 0px 70px;
    }

    /* ----- Fin Info Servicios : Tablet Peq ----- */
    
    /* ----- Inicio Planes Servicios : Tablet Peq ----- */

    .servContenedorPri {
        width: 350px;
    }

    .servContenedorSec {
        width: 250px;
    }

    /* ----- Fin Planes Servicios : Tablet Peq ----- */

    /* ----- Inicio Banner Talleres Servicios : Tablet Peq ----- */

    .bannerTalleres {
        grid-template-rows: 1fr 1.5fr;
    }
    
    .bannerTalleresTexts {
        padding: 0px 70px 20px 70px;
    }

    /* ----- Fin Banner Talleres Servicios : Tablet Peq ----- */

}


/* ------------------------------ Fin de CSS Servicios Tablet Peq ------------------------------ */

/* ------------------------------ Inicio de CSS Servicios Tablet Gra ------------------------------ */

@media screen and (min-width: 800px) {


    /* ----- Inicio Banner Talleres Servicios : Tablet Gra ----- */

    .imgBannersSec__Serv {
        background-image: url(../assets/3_servicios/banner-secundario-servicios.jpg);
        z-index: -1;
        background-position: -40px;
    }

    /* ----- Fin Banner Talleres Servicios : Tablet Gra ----- */

    /* ----- Inicio Planes Servicios : Tablet Gra ----- */

    .servContenedorPri {
        width: 400px;
    }

    .servContenedorSec {
        width: 325px;
    }

    /* ----- Fin Planes Servicios : Tablet Gra ----- */

    /* ----- Inicio Banner talleres Servicios : Tablet Gra ----- */

    .bannerTalleres {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
    }

     /* ----- Fin Banner talleres Servicios : Tablet Gra ----- */
    
}

/* ------------------------------ Fin de CSS Servicios Tablet Gra ------------------------------ */

/* ------------------------------ Inicio de CSS Servicios Intermedio ------------------------------ */

@media screen and (min-width: 957px) {

    /* ----- Inicio Banner talleres Servicios : Intermedio ----- */

    .bannerTalleresImg {
        background-image: url(../assets/3_servicios/banner-secundario-servicios-2.jpg);
        background-size: cover;
        background-position: 602px;
        display: flex;
    }

    .bannerTalleres {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .bannerTalleresTexts {
        padding: 30px 10px 30px 70px;

    }

    /* ----- Fin Banner talleres Servicios : Intermedio ----- */
    
}

/* ------------------------------ Fin de CSS Servicios Intermedio ------------------------------ */

/* ------------------------------ Inicio de CSS Servicios Desktop ------------------------------ */

@media screen and (min-width: 1200px) {

    /* ----- Inicio infos Servicios : Desktop ----- */

    .imgBannersSec__Serv {
        background-position: left;
    }

    .info__servicios {
        padding: 0px 200px;
    }


    .serv-contenedor {
        grid-template-areas: 
        "s1 s2 s3 s4 s5";
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        align-items: flex-end;
        padding: 0px auto;

    }

    .servContenedorPri {
        width: 230px;
        height: 300px;
    }

    .servContenedorSec {
        width: 150px;
    }

    .bannerTalleresTexts {
        padding: 30px 10px 30px 100px;
    }

    .bannerTalleresImg {
        background-position: right
    }

}

/* ------------------------------ Fin de CSS Servicios Desktop ------------------------------ */


/* --------------------------------------------------- Carrera --------------------------------------------------- */


/* ------------------------------ Inicio de CSS Carrera Mobile ------------------------------ */

/* ----- Inicio banner secundario Carrera : mobile ----- */

.imgBannersSec__Career {
    background-image: url(../assets/4_carrera/Banner-Secundario-Mobile-Carrera.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.info__carrera {
    padding: 30px;
}


.pre-vacantesInfo {
    padding: 30px;
}

.vacantesSection {
    background-color: var(--silver-backgroundColor);
}

.vacantesContenedores {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 20px;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.vacantesContenedor__interno {
    background-color: var(--white-backgroundColor);
    display: flex;
    width: 220px;
    height: 150px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 7px;
    padding: 0px 40px;
    transition: all 0.7s;
}

.vacantesContenedor__interno:hover{
    transform: scale(110%);
    -webkit-box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.13);
        box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.13);

}

/* ------------------------------ Fin de CSS Carrera Mobile ------------------------------ */



/* ------------------------------ Inicio de CSS Carrera Tablet Peq ------------------------------ */

/* No fue necesario realizar reglas nuevas para esta brakpoint */

/* ------------------------------ Fin de CSS Carrera Tablet Peq ------------------------------ */



/* ------------------------------ Inicio de CSS Carrera Tablet Gra ------------------------------ */

@media screen and (min-width: 800px) {

    .imgBannersSec__Career {
        background-image: url(../assets/4_carrera/banner-secundario-carrera.jpg);
        z-index: -1;
        background-position: -115px;
    }

    .info__carrera {
        padding: 30px 70px;
    }

    .pre-vacantesInfo {
        padding: 30px 70px;
    }

    .vacantesContenedores {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

}

/* ------------------------------ Fin de CSS Carrera Tablet Gra ------------------------------ */

/* ------------------------------ Inicio de CSS Carrera Intermedio ------------------------------ */

@media screen and (min-width: 950px) {
    .imgBannersSec__Career {
        background-position: left;
    }

    .vacantesContenedor__interno {
        width: 300px;
    }
    
}

/* ------------------------------ Fin de CSS Carrera Intermedio ------------------------------ */

/* ------------------------------ Inicio de CSS Carrera Desktop ------------------------------ */

@media screen and (min-width: 1200px) {

    .imgBannersSec__Career {
        background-position: unset;
    }

    .info__carrera {
        padding: 30px 200px;
    }

    .pre-vacantesInfo {
        padding: 30px 200px;
    }

    .vacantesContenedores {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        padding: 0px 100px;
        grid-column-gap: 15;
    }

    .vacantesContenedor__interno {
        width: 250px;
    }

    

}






/* --------------------------------------------------- Contacto --------------------------------------------------- */


/* ------------------------------ Inicio de CSS Contacto Mobile ------------------------------ */

.bannerSecPages {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr;
    -webkit-box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.23); 
        box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.23);
    padding-bottom: 40px;
}

.imgBannersSec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-image: url(../assets/5_contacto/Banner-Secundario-Mobile-cont.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.textSecBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;

}

.bannersec__fullText {
    display: flex;
    flex-direction: column;
    

}

.bannersec__fullText--span {
    line-height: 30px;
    font-size: 20px;
    color: var(--main-textColor);
}

.bannersec__fullText--h1 {
    font-size: 43px;
    color: var(--main-titleColor);
}



/* ----- Fin banner secundario contacto : mobile ----- */

/* ----- Inicio info contacto : mobile----- */

.infoContacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 0px 30px;
    margin: 30px 0px;
}

.infoContacto h2 {
    color: var(--main-titleColor);
    margin: 0px 0px 10px 0px;
}

.infoContacto p {
    font-size: var(--fontTextMobile);
    color: var(--main-textColor);
    line-height: 26px;
}

/* ----- Fin info contacto : mobile ----- */



/* ------------------------------ Fin de CSS Contacto Mobile ------------------------------ */

/* ------------------------------ Inicio de CSS Contacto Tablet Peq ------------------------------ */

@media screen and (min-width: 479px) {

    .bannerSecPages {
        grid-template-rows: 2.5fr 1fr;
    }
    
}


@media screen and (min-width: 600px) {

    /* ----- Inicio banner secundario Contacto: Tablet Peq ----- */
    
    .bannerSecPages {
        display: grid;
        grid-template-rows: 3fr 1fr;
    }

    /* ----- Fin banner secundario Contacto: Tablet Peq ----- */

    /* ----- Inicio info Contacto: Tablet Peq ----- */

    .infoContacto {
        padding: 0px 70px;
    }


    /* ----- Fin info Contacto: Tablet Peq ----- */

}

@media screen and (min-width: 676px) {


     /* ----- Inicio banner secundario Contacto : tablet Gra ----- */
    
     .bannerSecPages {
        grid-template-rows: 4.5fr 1fr;
    }

    .imgBannerSec {
        background-image: url(../assets/5_contacto/Banner-Secundario-Tablet.jpg); 
    }
    
}

/* ------------------------------ Fin de CSS Contacto Tablet Peq ------------------------------ */

/* ------------------------------ Inicio de CSS Contacto Tablet Gra ------------------------------ */



@media screen and (min-width: 800px) {

    .bannerSecPages {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        height: 300px;
        justify-content: left;
        padding-bottom: 0px;
        
    }

    .imgBannersSec {
        background-image: url(../assets/5_contacto/banner-secundario-contacto-desk.jpg);
        background-size: cover;
        background-position: left;
        z-index: -1;

    }

    


    
}


/* ------------------------------ Fin de CSS Contacto Tablet Gra ------------------------------ */

/* ------------------------------ Inicio de CSS Intermedio  Contacto entre Tablet Gra & Desketop ------------------------------ */

@media screen and (min-width: 957px) {


}

/* ------------------------------ Fin de CSS Intermedio Contacto entre Tablet Gra & Desketop ------------------------------ */

/* ------------------------------ Inicio de CSS Desktop Contacto ------------------------------ */

@media screen and (min-width: 1200px) {

/* ----- Inicio banner secundario contacto : desktop ----- */

    .bannerSecPages {
        height: 400px;
    }

    .bannersec__fullText--h1 {
        font-size: 55px;
    }

    .bannersec__fullText--span {
        font-size: 30px;
        line-height: 40px;
    }

    .textSecBanner {
        padding-right: 40px;
    }

    /* ----- Fin banner secundario contacto : desktop -----*/

    /* ----- Inicio info contacto : desktop ----- */

    .infoContacto{
        padding: 0px 200px;
    }

    /* ----- Fin info contacto : desktop -----*/

}
}
/* ------------------------------ Fin de CSS Desktop Contacto ------------------------------ */