
.imgBannersSec {
    background-image: url("../assets/5_contacto/Banner-Secundario-Mobile-cont.jpg");
    @extend %imgBannersSec;    
}

/* ----- Fin banner secundario contacto : mobile ----- */

/* ----- Inicio info contacto : mobile----- */

.infoContacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 0px 30px;
    margin: 30px 0px;
        h2 {
            color: $blackTitle;
            margin: 0px 0px 10px 0px;
        }
        p {
            font-size: $text;
            color: $silverText;
            line-height: 26px;
        }
}

/* ----- Fin info contacto : mobile ----- */



/* ------------------------------ Fin de CSS Contacto Mobile ------------------------------ */

/* ------------------------------ Inicio de CSS Contacto Tablet Peq ------------------------------ */

@media screen and (min-width: 479px) {

    .bannerSecPages {
        grid-template-rows: 2.5fr 1fr;
    }
    
}


@media screen and (min-width: 600px) {

    /* ----- Inicio banner secundario Contacto: Tablet Peq ----- */
    
    .bannerSecPages {
        display: grid;
        grid-template-rows: 3fr 1fr;
    }

    /* ----- Fin banner secundario Contacto: Tablet Peq ----- */

    /* ----- Inicio info Contacto: Tablet Peq ----- */

    .infoContacto {
        padding: 0px 70px;
    }


    /* ----- Fin info Contacto: Tablet Peq ----- */

}

@media screen and (min-width: 676px) {


     /* ----- Inicio banner secundario Contacto : tablet Gra ----- */
    
     .bannerSecPages {
        grid-template-rows: 4.5fr 1fr;
    }

    .imgBannerSec {
        background-image: url("../assets/5_contacto/Banner-Secundario-Tablet.jpg"); 
    }
}

/* ------------------------------ Fin de CSS Contacto Tablet Peq ------------------------------ */

/* ------------------------------ Inicio de CSS Contacto Tablet Gra ------------------------------ */



@media screen and (min-width: 800px) {

    .bannerSecPages {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        height: 300px;
        justify-content: left;
        padding-bottom: 0px;
        
    }

    .imgBannersSec {
        background-image: url("../assets/5_contacto/banner-secundario-contacto-desk.jpg");
        background-size: cover;
        background-position: left;
        z-index: -1;

    }
    .gt{
        background-color: #fff;
    }

}


/* ------------------------------ Fin de CSS Contacto Tablet Gra ------------------------------ */


/* ------------------------------ Inicio de CSS Desktop Contacto ------------------------------ */

@media screen and (min-width: 1200px) {

/* ----- Inicio banner secundario contacto : desktop ----- */

    .bannerSecPages {
        height: 400px;
    }

    .bannersec__fullText--h1 {
        font-size: 55px;
    }

    .bannersec__fullText--span {
        font-size: 30px;
        line-height: 40px;
    }

    .textSecBanner {
        padding-right: 40px;
    }

    /* ----- Fin banner secundario contacto : desktop -----*/

    /* ----- Inicio info contacto : desktop ----- */

    .infoContacto{
        padding: 0px 200px;
    }

    /* ----- Fin info contacto : desktop -----*/

}