$button: (
    fillY: $yellowPp,
    fillDark: $yellowDark,
    outline: $white,
    texwhite: $white,
    speed: all 0.5s,
    borderFill: none,
    buttonPadd: 10px 25px,
    borderOutline: 1px solid $yellowPp,
);

@mixin buttonMix ($fontSize, $borRadio, $textAlign, $marTop) {
    font-size: $fontSize;
    border-radius: $borRadio;
    text-align: $textAlign;
    margin-top: $marTop;

}
