$yellowPp: #f7b602; //main-yColor
$silverText: #425466; //main-textColor
$blackTitle: #1a1b2f; //main-tittleColor
$silverBck: #f6f9fc; //silver-backgrounColor
$blueBlkBck: #1a1b2f; //blackBlue--backgroundColor
$yellowDark: #d39b02; //second-yColor
$white: #fff;
